Upgrade helios-testing dependency.

Newer versions of helios-testing generates helios integration test
reports that help the Helios team see how to improve the Helios testing
framework.

See these PRs:

* https://github.com/spotify/helios/pull/498
* https://github.com/spotify/helios/pull/499
* https://github.com/spotify/helios/pull/501

Merge when you're ready.

This PR was created by a script. Please contact #helios on Slack
if you have questions.

