# Please don't add dependencies to this file by hand!
# Instead, pip install whatever dependencies you need in your virtualenv, and
# then run `pip freeze > requirements.txt`. This helps keep the file sorted,
# but more importantly, ensures that not just top-level dependencies are frozen
# but also transitive dependencies.


PyGithub==1.34
PyJWT==1.5.0
